#Ignore All
*


#Except
!Accept_Offer usecase.png
!Accept_Offert_submition_usecase.png
!ClassDiagram_Version1.jpg
!ERDDiagram1.jpg
!Functional and non Functional  Requirements.pdf
!Reject_offer_submitting_usecase.png
!Review_history_usecase.png
!Search_Freelancers_usecase.png
!Search_freelancer_usecase.png
!SequanceDiagram_Root.jpg
!SequenceDiagramFreeLancerLogin.jpg
!SequenceDiagram_freelanceViewProfile.jpg
!SequenceDiagram_freelancer.png
!SequenceDiagram_freelancerApplyTask.jpg
!SequenceDiagram_freelancerCancellApply.jpg
!SequenceDiagram_freelancerListTasks.jpg
!SequenceDiagram_freelancerRequestAdditionHour.jpg
!SequenceDiagram_freelancerViewHistory.jpg
!SequenceDiagram_freelancerWithdraw.jpg
!Sequence_SpecifyPenalties.jpg
!SystemArchitecture.jpg
!SystemSequanceEmployer-SSD.png
!SystemSequanceFreelancer.jpg
!SystemSequance_Root.jpg
!Untitled.mdj
!UseCaseDiagram_Version1.jpg
!doc.pdf
!doc.tex
!CodeConventions.md
!Designs
!OO Analysis
!ProjectGUI
!README.md
!CSS
!Controllers
!Images
!swgui
!CSS
!Controllers
!Images
!swgui
!mainStage.css
!style.css
!Data.java
!InvoiceController.java
!LoginSceneController.java
!ShowAllNotification.java
!ShowAllTaskController.java
!ShowAllTasks.java
!ShowLogsController.java
!SignUpSceneController.java
!Validation.java
!buttonableInter.java
!mainStageController.java
!statics.java
!testActions.java
!Google_Mail.png
!massage2.png
!notification.png
!pink-message-icon-12054.png
!search_icon.png
!FXMLDocumentController.java
!InvoiceScene.fxml
!LoginScene.fxml
!PreLogin.fxml
!SWGUI.java
!ShowAllNotification.fxml
!ShowAllTasks.fxml
!ShowLogs.fxml
!SignUpScene.fxml
!TestInfoTasks.java
!mainStage.fxml
!pan.fxml
