OO Analysis/doc.log
OO Analysis/doc.aux
OO Analysis/doc.toc+
.DS_Store 
OO Analysis/auto
/Back-End/BackEndSW2/build/
/Back-End/BackEndSW2/dist/
/Back-End/BackEndSW2/nbproject/*

/Back-End/BackEndAPI/target/
/Back-End/SWGUI/build/
/Back-End/SWGUI/dist/
/Back-End/SWGUI/nbproject/private/